*{
    margin: 0;
    padding: 0;
    background-color: black;
}

body{
  font-family: "Bitcount Prop Single Ink", system-ui; 
  
}

.navbar{
    
    text-align: 50%;
    background-color:  rgb(26, 1, 17);
     padding: 10px;
     border-bottom: solid rgba(54, 53, 53, 0.541);

}

.h11{
    padding-left: 20px;
    background-color: rgb(26, 1, 17);
    opacity: 0.9;
    color: black;
}

.container{
    padding: 10px;

}

.gamecontainer{
    text-align: left;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 30px;
    width: 25%;
    vertical-align: top;
    display: inline-block;
    border-bottom: solid grey;
    border-top: solid grey;
}

.gamecontainer h1{
    color: white;

}

.gamecontainer button{
    background-color: black;
    color: pink;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

}

.addbtn{
    background-color: black;
    color: blueviolet;
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
    right: 30px;
    position: fixed;
    bottom: 30px;
    border-bottom: grey;
    border-right: grey;
     
}

.overlay{
    background-color: black;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    display: none;
}

.popup{
    background-color: black;
    color: purple;
    width: 30%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;

}

.popup input{
    background-color: black;
    border-color: gray;
    color: violet;
    opacity: 0.9;
    padding: 5px;
    border-bottom: solid grey;
    width: 100%;
    margin: 5%;

}

.popup input::placeholder{
    color: violet;
}
.popup textarea{
    background-color: black;
    color: violet;
    border-color: gray;
    opacity: 0.9;
    padding: 5px;
    border-bottom: solid grey;
    width: 100%;
    margin: 5%;

}

.popup textarea::placeholder{
    color: violet;
}

.popup button{
    background-color: black;
    color: violet;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-bottom: 10px;
    margin: 5px;

}