*{
    margin: 0;
    padding: 0;
}

.parent-div{
    width: 100%;
    height: auto;
    background-color: rgb(86, 83, 83);
    color: azure;
}

.choose{
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.child-div-1,
.child-div-2,
.child-div-3,
.child-div-4,
.child-div-5 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.btn{
    text-align: center;
    height: 20px;
    border-color: rgb(34, 34, 35);
    border-radius: 5px;
    background-color: rgb(86, 83, 83);
    color: white;
}

.submit{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 83, 83);
}
